/* Class for name */
.name {
    font-family: Georgia, serif;
    font-size: 1.2em;
    color: black;
}

/* Class for speech */
.speech {
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: black;
}

/* Class for song */
.song {
    font-family: "Times New Roman", serif;
    font-size: 1em;
    color: black;
    font-style: italic;
}

/* Class for direction */
.direction {
    font-family: "Courier New", monospace;
    font-size: 0.95em;
    color: black;
    background-color: #f2f2f2;
}

/* Hover for direction */
.direction:hover {
    background-color: #cccccc;
    color: blue;
}

/* Character styles */
.cel {
    color: red;
}

.lei {
    color: green;
}

.fle {
    color: purple;
}

/* Group style */
.cho {
    color: darkblue;
}

.cast-table {
    width: 70%;
    border-collapse: collapse;
    margin: 24px 0;
}

.cast-table th,
.cast-table td {
    border: 1px solid #444444;
    padding: 10px 14px;
    text-align: left;
}

.cast-table th {
    background-color: #d9e4f5;
    color: #000000;
}

.cast-table tr:nth-child(even) {
    background-color: #f5f5f5;
}
