/* Class for name */
.name {
    font-family: Georgia, serif;
    font-size: 1.2em;
    color: black;
}

/* Class for speech */
.speech {
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: black;
}

/* Class for song */
.song {
    font-family: "Times New Roman", serif;
    font-size: 1em;
    color: black;
    font-style: italic;
}

/* Class for direction */
.direction {
    font-family: "Courier New", monospace;
    font-size: 0.95em;
    color: black;
    background-color: #f2f2f2;
}

/* Hover for direction */
.direction:hover {
    background-color: #cccccc;
    color: blue;
}

/* Character styles */
.cel {
    color: red;
}

.lei {
    color: green;
}

.fle {
    color: purple;
}

/* Group style */
.cho {
    color: darkblue;
}
